@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    background-color: #00182e;
}

.gradient-sky {
    background: #2980B9;
    background: linear-gradient(
            to top left,
            #aedeff, #a2e7ff,#FFFFFF
    );
}


@keyframes rotateLeftRight {
    0%, 100% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(-10deg);
    }
    50% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(10deg);
    }
}

.rotating-object-left-right {
    animation: rotateLeftRight 2s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite;
}

.rotating-object-right-left {
    animation: rotateLeftRight 2s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite;
    animation-direction: reverse;
}
